<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication1">

        <!-- Activity biasa (hanya bisa dipanggil dari dalam app) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Activity utama (launcher) -->
        <activity
            android:name=".SecondActivity2"
            android:exported="true">
            <intent-filter>
                <!-- action MAIN = titik masuk aplikasi -->
                <action android:name="android.intent.action.MAIN" />
                <!-- category LAUNCHER = tampil di menu/home launcher -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
